<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <link rel="stylesheet" href="/main.css">
    <meta charset="utf-8">
    <title></title>

    <style>

    html {
      background: url(    https://media.blendernation.com/wp-content/uploads/2016/02/Create-the-Aurora-Borealis-in-Blender.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    </style>


  </head>
  <body>

    <div class="flex-container3">

      <a href="/bars"><button class="home">Home</button></a>

      <a href="/bars/shop"><button class="shop">Shop</button></a>

    </div>

    <div class="text animated bounce">
    <h1>SPECIALITY COCKTAILS</h1>
    </div>


    <div class="flex-drink">

    <div class="drink1">
      <h2>BLOOD & SAND COCKTAIL</h2>
      <p>The Blood & Sand is a classic <br/> scotch-based recipe that first appeared in 1930.
    <p> Ingredients: <br/>
    Scotch whisky:  3⁄4 oz <br/>
    Sweet vermouth: 3⁄4 oz <br/>
    Heering liqueur: 3⁄4 oz <br/>
    Orange juice: 3⁄4 oz <br/>
    Garnish: orange peel</p>

    </div>

    <div class="drink2">
      <h2>CLOVER CLUB COCKTAIL</h2>
      <p> This pre-Prohibition classic is one of Philadelphia’s contributions to mixological history.</p>
    <p> Ingredients: <br/>
    Gin: 2 oz <br/>
    Egg white: 1 <br/>
    Fresh lemon juice: 1⁄2 oz <br/>
    Raspberry syrup: 1⁄2 oz <br/>
    Garnish: raspberry</p>
    </div>

    <div class="drink3">
      <h2>MINT JULEP COCKTAIL</h2>
      <p> The Mint Julep is a bourbon <br/> cocktail best known for being the signature <br/> drink of the Kentucky Derby.
    <p> Ingredients: <br/>
      Bourbon: 2 oz <br/>
      Raw sugar syrup: 1⁄4 oz <br/>
      Mint leaves: 8 <br/>
      Garnish: bitters / 1 mint spring

    </div>

    </div>

  </body>
</html>
