<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>

    <link href="https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy" rel="stylesheet">

    <link rel="stylesheet" href="/main.css">

    <meta charset="utf-8">


    <title></title>


    <style></style>

  </head>

  <body>

    <!-- background image -->
    <div class="main-background">
  <div class="background-image" img src="url(https://upload.wikimedia.org/wikipedia/commons/d/d1/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg)" alt="">
</div>
</div>

  <header><div class="text animated bounce">
    <h1>MIXOLOGIST MOUNTAIN</h1></div></header>



    <p class="item-1">“Here’s to alcohol, the cause of, and solution to, all life’s problems.” —Homer Simpson, The Simpsons</p>

    <p class="item-2"> "Wine is sunlight, held together by water." —Galileo</p>

    <p class="item-3">I love scotch. Scotchy, scotch, scotch. Here it goes down, down into my belly.” —Ron Burgundy</p>

    <p class="item-4">"Milk is for babies. When you grow up you have to drink beer." —Arnold Schwarzenegger</p>

    <p class="item-5">“Beer, if drunk in moderation, softens the temper, cheers the spirit and promotes health.” —Thomas Jefferson</p>



    <div class="flex-container">

    <div class="zoom">
  <a href="/bars/shop"><button class="shop-button">Shop</button></a>
    </div>

    <div class="zoom">
  <a href="/bars/drink"><button class="drink-button">Speciality Drinks</button></a>
    </div>

    <div class="zoom">
  <a href="/bars/location"><button class="location-button">Locations</button></a>
    </div>

    </div>






  </body>
</html>
