<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <style>

    html {
      background: url(https://images.pexels.com/photos/42297/pexels-photo-42297.jpeg?cs=srgb&dl=black-and-white-colorado-mountains-42297.jpg&fm=jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    </style>

  </head>
  <body>

    <h1>Helloo!!!!! Locations!!!!!</h1>

  </body>
</html>
