h1 {
  opacity: .6;
  text-align: center;
  font-size: 60px;
  padding-top: 80px;
  color: black;
  text-shadow: 35px 35px 20px #000000;
}

p {
  font-weight: 600;
}


a {
  text-decoration: none;
  color: black;
}

img {
  width: 250px;
  height: 250px;
}


form {
  color: steelblue;
  font-weight: 600;
  font-family: 'Indie Flower', cursive
}


a:hover {
  cursor: pointer;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.link1, .link2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 40px;
  font-weight: 900;
}



.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}



.flex-drink {
  text-align: center;
  padding: 15px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: floralwhite;
  border: 5px solid black;
  border-radius: 10%;
  opacity: .5;
}


.main-background .background-image {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(https://upload.wikimedia.org/wikipedia/commons/d/d1/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg) center center;
  opacity: .7;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* CSS For Show Product Page */
.container {
  background-color: floralwhite;
  opacity: .7;
  border-radius: 45%;
  border: 5px solid black;
  text-align: center;
}

/* CSS For New Product Page Below */
.container-new {
  margin: auto;
  padding: 50px;
  height: 300px;
  width: 300px;
  background-color: floralwhite;
  opacity: .7;
  border-radius: 50%;
  border: 5px solid black;
  text-align: center;
}


/* CSS For Edit Product Page Below */
.container-edit {
  margin: auto;
  padding: 50px;
  height: 500px;
  width: 400px;
  background-color: floralwhite;
  opacity: .7;
  border-radius: 50%;
  border: 5px solid black;
  text-align: center;
}




/* CSS For H1 Titles (Bounce and Zoom) Below */


.zoom {
  padding: 50px;
  transition: transform 2s;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5);
}


.bounce {
  font-size: 50px;
  animation-name: bounce;
  animation-duration: 10s;
  animation-iteration-count: 200;
}


@keyframes bounce {
  0%, 20%, 40%, 70%, 100% {transform: translateY(0);}
  20% {transform: translateY(-20px);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-40px);}
  80% {transform: translateY(-30px);}
}

.product-buttons {
  display: flex;
  flex-direction: row;
}

/* CSS For Buttons Product Detail Page Below */

.product-detail-buttons {
  padding-top: 40px;
  opacity: .3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

/* CSS For Products On Shop Page Below */

.flex-container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: floralwhite;
  opacity: .6;
  border: 10px solid black;
  border-radius: 2%;
  text-align: center;
}


/* CSS For Home And New Product On Shop Page Below */

.flex-container3 {
  opacity: .3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.home, .create, .shop {
  display: flex;
  font-family: 'Sorts Mill Goudy', serif;
  cursor: pointer;
  background-color: floralwhite;
  border-radius: 30%;
  font-weight: 600;
  font-size: 25px;
  color: black;
}



/* CSS For Main Links On Home Page Below  */

.flex-container {
  padding-top: 200px;
  padding-right: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.shop-button {
  font-family: 'Sorts Mill Goudy', serif;
  display: flex;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 40px;
  color: black;
}

.drink-button {
  font-family: 'Sorts Mill Goudy', serif;
  display: flex;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 30px;
  color: black;
}

.location-button {
  font-family: 'Sorts Mill Goudy', serif;
  display: flex;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 40px;
  color: black;
}



/* CSS For Quotes Below */

.item-1,
.item-2,
.item-3,
.item-4,
.item-5 {
  font-weight: 600;
  font-family: cursive;
  color: black;
  text-align: center;
	position: absolute;
  display: block;
	top: 2em;
  width: 60%;
  font-size: 17px;
	animation-duration: 40s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}



.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

.item-4{
	animation-name: anim-4;
}

.item-5{
	animation-name: anim-5;
}


@keyframes anim-1 {
	0%, 5% { left: 35%; opacity: 0; }
  10%,15% { left: 35%; opacity: 1; }
  30%, 100% { left: 35%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 25% { left: -5%; opacity: 0; }
  30%, 35% { left: -5%; opacity: 1; }
  40%, 100% { left: -6%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 45% { left: 42%; opacity: 0; }
  50%, 55% { left: 42%; opacity: 1; }
  60%, 100% { left: 43%; opacity: 0; }
}

@keyframes anim-4 {
	0%, 61% { left: -4%; opacity: 0; }
  65%, 70% { left: -3%; opacity: 1; }
  80%, 100% { left: -4%; opacity: 0; }
}

@keyframes anim-5 {
	0%, 81% { left: 30%; opacity: 0; }
  85%, 95% { left: 29%; opacity: 1; }
  100% { left: 29%; opacity: 0; }
}
